 {% extends 'layout/base.html' %}

{% block content %}
<div style="background-color: white">
    <div class="form-group">
        <h1 class="display-3 text-center" style="background-color: #CEEFFA; color: #0D706E; font-style: italic"> Thông tin khách hàng</h1>
        <p class="display-6" > Hạng ghế: {{ session['hangGhe'] }} </p>
        {% if session['veNguoiLon'] %}
        <div class="display-6" style="background-color: #0D706E; color: #CEEFFA; font-style: italic"> Thông tin vé người lớn</div>
        {% for i in range(0, veNguoiLon) %}
        <div class="form-group" style="font-size:20px; padding: 10px">
            <hr>
            <div>Hành khách {{ i + 1 }} </div>
            <div clasa="form-control">
                <p>Số điện thoại: {{ session['phone'][i] }} </p>
                <p>Họ và tên hành khách {{ session['fullNameNguoiLon'][i] }} </p>
                <p>Căn cước công dân: {{ session['cccd'][i] }} </p>
                <p>Ngày tháng năm sinh: {{ session['ngaySinhNguoiLon'][i] }} </p>
                <p>email {{ session['email'][i] }} </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
 <form action="POST">
     <button class="btn btn-success" type="submit"> Đặt vé </button>
 </form>

{% endblock %}