{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-2 datve_online">
    <!-- Danh sách chuyến bay -->
    <div class="mt-5">
        <h2 class="mb-4 text-center title" style="padding: 10px; background-color: lightblue" >Danh Sách Chuyến Bay</h2>
        {% if flight %}
        <div id="flight-list" class="table-responsive">
            <table class="table table-success" style="text-align: center">
                <thead class="table-info">
                <tr >
                    <th>Mã chuyến bay</th>
                    <!--<th>Ngày bay</th>-->
                    <th>Ngày đi</th>
                    <th>Nơi đi</th>
                    <th>Nơi đến</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <!-- Kết quả chuyến bay sẽ được thêm vào đây -->
                {% for f in flight %}
                <tr>
                    <td>{{ f.id_ChuyenBay}}</td>
                    <td>{{ f.gio_Bay.date() }}</td>
                    {% for i in airport %}
                    {% if i.id_SanBay == f.id_SanBayDi %}
                    <td>{{ i.ten_SanBay}}</td>
                    {% endif %}
                    {% endfor %}
                    {% for i in airport %}
                    {% if i.id_SanBay == f.id_SanBayDen %}
                    <td>{{ i.ten_SanBay}}</td>
                    {% endif %}
                    {% endfor %}
                    <td>
                        <form action="/datveonline" method="get">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" onclick="searchFlights()"> Chọn
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">Không có chuyến bay nào phù hợp!</div>
        {% endif %}
    </div>
</div>
{% endblock %}

