{% extends 'layout/base.html' %}
{% block content %}

<div class="container mt-2 datve_online">
    <!-- Danh sách chuyến bay -->
    <div class="mt-5">
        {% if flight %}
        <h2 class="mb-4 text-center title" style="padding: 10px; background-color: lightblue" >Danh sách chuyến bay <span style="padding: 5px; color: red; background-color: yellow"> {{ tuyenBay[0].tenTuyen }} </span> </h2>
        <div id="flight-list" class="table-responsive">
            <table class="table table-success" style="text-align: center">
                <thead class="table-info">
                <tr >
                    <th>Mã chuyến bay</th>
                    <th>Ngày đi</th>
                    <th>Giờ khởi hành</th>
                    <th>Giá vé</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <!-- Kết quả chuyến bay sẽ được thêm vào đây -->
                {% for f in flight %}
                <tr>
                    <td> FL{{ f.id_ChuyenBay}}</td>
                    <td>{{ f.gio_Bay.date() }}</td>
                    <td> {{ f.gio_Bay.strftime('%H:%M:%S') }} </td>
                    <td> </td>
                    <td>
                        <form action="/datveonline" method="get">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" onclick="searchFlights()"> Chọn
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">Không có chuyến bay nào phù hợp!</div>
        {% endif %}
    </div>
</div>
{% endblock %}

